html {
    margin: 0;
    padding: 0;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#text-inputs, #status-choice {
    margin: 10px;
    padding: 20px;
}

p {
    display: inline;
    font-weight: bold;
    margin-left: 20px;
}

button {
    width: 130px;
    font-size: 12pt;
    padding: 5px;
    border: 2px solid;
    background-color: #2196F3;
    color: white;
}

button:hover {
    background-color: #0084f0;
    color: white;
    font-weight: bold;
}

#submit {
    margin-left: 20px;
}

#library {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;
}

#statusBtn, #deleteBtn {
    display: block;
    margin: auto;
    font-size: 11pt;
    padding: 5px;
    border: 2px;
}

#statusBtn {
    min-width: 70px;
    background-color: #01ce0c;
    color: white;
}

#statusBtn:hover {
    background-color: #00b609;
    color: white;
    font-weight: bold;
}

#deleteBtn {
    width: 70px;
    font-size: 11pt;
    background-color: #fa2828;
    color: white;
}

#deleteBtn:hover {
    background-color: #db0000;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #949494;
    font-size: 14pt;
}

td {
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}

.book {
    width: 35%;
}

.author {
    width: 25%;
}

.status {
    width: 14%;
}

.delete {
    width: 4%;
}