html {
    margin: 0;
    padding: 0;
    background-color: #1E262E;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

#text-inputs, #status-choice {
    margin: 10px;
    padding: 20px;
}

p {
    display: inline;
    font-weight: bold;
    margin-left: 20px;
    color: #FFFFFF;
}

button {
    width: 130px;
    font-size: 12pt;
    padding: 5px;
    border: 2px;
    background-color: #837D7A;
    color: white;
}

button:hover {
    background-color: #746d6b;
    color: white;
    font-weight: bold;
}

#submit {
    margin-left: 20px;
}

#library {
    margin-top: 10px;
    padding: 10px;
    background-color: #E2EAE5;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;
}

#statusBtn, #deleteBtn {
    display: block;
    margin: auto;
    font-size: 11pt;
    padding: 5px;
    border: 2px;
}

#statusBtn {
    min-width: 140px;
    font-size: 11pt;
    background-color: #49a159;
    color: white;
}

#statusBtn:hover {
    background-color: #379c49;
    color: white;
    font-weight: bold;
}

#deleteBtn {
    width: 70px;
    font-size: 11pt;
    background-color: #f44336;
    color: white;
}

#deleteBtn:hover {
    background-color: #f53729;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    color: #FFFFFF;
    background-color: #42816E;
    font-size: 14pt;
}

td {
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}

.book {
    width: 35%;
}

.author {
    width: 25%;
}

.status {
    width: 14.5%;
}

.delete {
    width: 4%;
}