html {
    margin: 0;
    padding: 0;
}

#text-inputs, #status-choice {
    margin: 10px;
    padding: 10px;
}

p {
    display: inline;
}

button {
    font-size: 10pt;
    border: 2px solid #2196F3;
    background-color: white;
    color: #2196F3;
}

button:hover {
    background-color: #2196F3;
    color: white;
}

.deleteBtn {
    font-size: 10pt;
    border: 2px solid #fa2828;
    background-color: white;
    color: #fa2828;
}

.deleteBtn:hover {
    background-color: #fa2828;
    color: white;
}

#libraryList {
    margin: 15px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: left;
}